<div class="admin-container">
  <aside class="sidebar">
    <h2>لوحة التحكم</h2>
    <a routerLink="dashboard" routerLinkActive="active" >Dashboard</a>
    <a routerLink="orders" routerLinkActive="active" >الطلبات</a>
    <a routerLink="charges" routerLinkActive="active" >الشحن</a>
    <a routerLink="games" routerLinkActive="active" >الألعاب</a>
  </aside>

  <main class="content">
    <div class="layout-notifications" *ngIf="notifications.length > 0">
      <h4>🔔 التنبيهات</h4>
      <div *ngFor="let note of notifications" class="layout-notification">
        {{ note }}
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>